[Unit]
Description=My Chef
Wants=mosquitto.service snips-dialogue.service snips-hotword.service snips-asr.service snips-queries.service snips-audio-server.service snips-feedback-sound.service snips-tts.service
After=mosquitto.service snips-dialogue.service snips-hotword.service snips-asr.service snips-queries.service snips-audio-server.service snips-feedback-sound.service snips-tts.service

[Service]
ExecStart=/usr/bin/python main.py
WorkingDirectory=/home/pi/MyChef
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
